/*offer*/
.rs-17-offer {
  position: relative;
  background: #000;
  width: 100%;
  overflow-x: hidden;
}

.rs-17-offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.rs-17-offer__image {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-between;
}

.rs-17-offer__photo {
  width: 100%;
  min-width: 45vw;
  z-index: 1;
}

.rs-17-offer__photo img {
  position: relative;
  right: -10%;
  bottom: 10%;
  width: 50%;
}

.rs-17-offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url('../../img/offer/offer-bg.png');
  background-position-x: 0;
  background-position-y: 0;
  min-width: 100%;
  text-align: right;
  overflow: hidden;
}

.rs-17-offer__bg img {
  position: relative;
  max-width: 100%;
  margin-left: 20%;
  right: 5%;
}

.rs-17-offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  margin-top: 12%;
}

.rs-17-offer__caption h1 {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.rs-17-offer__caption h2 {
  margin: 0;
  font-size: 1rem;
  color: #424242;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.rs-17-offer__caption p {
  color: white;
  font-size: 1.8rem;
}

.rs-17-offer__caption .rs-17-offer__text {
  padding-left: 10px;
}

.rs-17-offer__caption .buttons {
  width: 230px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2000;
}

.rs-17-offer__caption .buttons button {
  margin-top: 30px;
  margin-bottom:30px;
  margin-right: 3rem;
  padding: 1.8rem 3.7rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  border: 1px solid #ff7000;
  background-color: transparent;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.rs-17-offer__caption .buttons button:hover {
  cursor: pointer;
  border: 1px solid #ff7000;
  background-color: #ff7000;
  color: #fff;
  outline: none;
}

/*Media Queries*/
@media (max-width: 480px) {

  .rs-17-offer__content {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: -1px;
  }

  .rs-17-offer__image {
    flex-direction: column;
  }

  .rs-17-offer__photo img {
    position: absolute;
    bottom: 100%;
    width: 50%;
    bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .rs-17-offer__photo img {
    width:70%;
  }

}
@media (min-width: 1200px) and (max-width: 1500px) { 
  .rs-17-offer__photo img {
    width:70%;
  }
}

@media (min-width: 1500px) { 
  .rs-17-offer__photo img {
    width: initial;
    right:-20%;
  }
  .rs-17-offer__content {
    margin-top:5%;
  }
  .rs-17-offer__caption .rs-17-offer__text {
    zoom:2;
  }
}